[submodule "vendor/odin-slang"]
	path = vendor/odin-slang
	url = https://github.com/DragosPopse/odin-slang
[submodule "vendor/odin-vma"]
	path = vendor/odin-vma
	url = https://github.com/Capati/odin-vma
[submodule "vendor/glTF2"]
	path = vendor/glTF2
	url = https://github.com/Pawel82S/glTF2
[submodule "vendor/odin-imgui"]
	path = vendor/odin-imgui
	url = https://github.com/Capati/odin-imgui
